@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Make new colors */
:root {
    --linkcolora: #c6d4ff;
    --linkcolorb: #c0ddf9;
    --linkcolorc: #bae5f4;
    --linkcolord: #b4eeee;
    --linkcolore: #aef6e9;
    --linkcolorf: #a8ffe3;
}